.login-page-header,
.header__title  {
  font-family: 'Graduate', sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  letter-spacing: 0%;
  min-width: 490px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 3rem;
}

.main-page-header {
  font-size: 45px;
  min-width: 1000px;
  height: 90px;
  background-color: #000000;
  position: sticky;
  display: flex;
  align-items: flex-start; /* Важно: изменено с center на flex-start */
  padding-top: 30px; /* Добавляем отступ сверху вместо transform */
}

.main-page-header .header__title {
  transform: none; /* Убираем transform */
  font-family: 'Graduate', sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  margin: 0 0 0 100px; /* Отступ слева 100px */
  font-size: 50px;
}
